set_io led[0] G6 
set_io led[1] G3 
set_io led[2] J3 
set_io led[3] K1 
set_io led[4] F6 
set_io led[5] J4 
set_io led[6] J2 
set_io led[7] H6 
set_io led[8] E1 
set_io led[9] G4 
set_io led[10] H4
set_io led[11] K2
set_io clk_i E3
