# build
build
/build.*

# vpr
vpr_stdout.log

# vivado
vivado.*

# verilog parser
parser.out
parsetab.py

# python related
__pycache__
*.py[cod]
*$py.class
conf/src

# environment
env

# install files
third_party/install
