[submodule "third_party/picorv32"]
	path = third_party/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "third_party/up5k-demos"]
	path = third_party/up5k-demos
	url = https://github.com/daveshah1/up5k-demos.git
[submodule "third_party/vexriscv-verilog"]
	path = third_party/vexriscv-verilog
	url = https://github.com/m-labs/VexRiscv-verilog
[submodule "third_party/fasm"]
	path = third_party/fasm
	url = https://github.com/SymbiFlow/fasm.git
[submodule "third_party/edalize"]
	path = third_party/edalize
	url = https://github.com/SymbiFlow/edalize.git
	branch = symbiflow
[submodule "third_party/prjxray-db"]
	path = third_party/prjxray-db
	url = https://github.com/SymbiFlow/prjxray-db
[submodule "third_party/prjxray"]
	path = third_party/prjxray
	url = https://github.com/SymbiFlow/prjxray.git
[submodule "third_party/litex_vexriscv_smp"]
	path = third_party/litex_vexriscv_smp
	url = https://github.com/enjoy-digital/litex_vexriscv_smp.git
