[submodule "third_party/picorv32"]
	path = third_party/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "third_party/up5k-demos"]
	path = third_party/up5k-demos
	url = https://github.com/daveshah1/up5k-demos.git
[submodule "third_party/vexriscv-verilog"]
	path = third_party/vexriscv-verilog
	url = https://github.com/m-labs/VexRiscv-verilog
[submodule "third_party/litex_vexriscv_smp"]
	path = third_party/litex_vexriscv_smp
	url = https://github.com/enjoy-digital/litex_vexriscv_smp.git
[submodule "third_party/hamsternz-hdmi"]
	path = third_party/hamsternz-hdmi
	url = https://github.com/hamsternz/Artix-7-HDMI-processing.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/hamsternz-displayport"]
	path = third_party/hamsternz-displayport
	url = https://github.com/hamsternz/DisplayPort_Verilog.git
[submodule "third_party/fpga-interchange-schema"]
	path = third_party/fpga-interchange-schema
	url = https://github.com/SymbiFlow/fpga-interchange-schema.git
[submodule "third_party/RapidWright"]
	path = third_party/RapidWright
	url = https://github.com/Xilinx/RapidWright.git
