terminaltables
asciitable
simplejson
tqdm
colorclass
lxml
python-constraint
intervaltree
jinja2
pytest
pandas
yapf
git+https://github.com/SymbiFlow/edalize.git@symbiflow#egg=edalize
git+https://github.com/facebookresearch/hydra.git#egg=hydra-core
git+https://github.com/facebookresearch/hydra.git#egg=hydra-submitit-launcher&subdirectory=plugins/hydra_submitit_launcher
git+https://github.com/facebookresearch/hydra.git#egg=hydra-joblib-launcher&subdirectory=plugins/hydra_joblib_launcher
