terminaltables
asciitable
simplejson
tqdm
colorclass
lxml
python-constraint
intervaltree
jinja2
pytest
pandas
git+git://github.com/SymbiFlow/fasm.git#egg=fasm
git+git://github.com/SymbiFlow/prjxray.git#egg=prjxray
git+git://github.com/SymbiFlow/edalize.git@symbiflow#egg=edalize
git+git://github.com/antmicro/symbiflow-xc-fasm2bels.git@add-fasm2bels#egg=symbiflow-xc-fasm2bels
