asciitable
cython
intervaltree
jinja2
lxml
pandas
pkgconfig
pytest
python-constraint
pyyaml
requests
simplejson
termcolor
terminaltables
yapf==0.31.0
git+https://github.com/antmicro/edalize.git@nextpnr-fpga_interchange#egg=edalize
https://github.com/chipsalliance/f4pga/archive/de9ed1f3dba34d641c354bdb070232887254b142.zip#subdirectory=f4pga
