set_io clk A16
set_io jtag_clk C16
set_io io_G15 A14
set_io io_G16 B18
set_io io_F15 D18
set_io io_B12 E18
set_io io_B10 G3
set_io io_led[0] G18
set_io io_led[1] H1
set_io io_led[2] H2
set_io io_led[3] H17
set_io io_led[4] H19
set_io io_led[5] J3
set_io io_led[6] J17
set_io io_led[7] K2


